<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938236458983-cg0blbuajgjfc1rp8u02htfpqlac7sks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938236458983-cg0blbuajgjfc1rp8u02htfpqlac7sks</string>
	<key>API_KEY</key>
	<string>AIzaSyCT0ZmMZ4H8gY-SZAPd9_EZusmA7xC5doY</string>
	<key>GCM_SENDER_ID</key>
	<string>938236458983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>deepfector</string>
	<key>STORAGE_BUCKET</key>
	<string>deepfector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938236458983:ios:0b162a92a8b26fdbe4ef42</string>
</dict>
</plist>